.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  font-size: inherit;
  color: currentColor;
}

.banner {
  .ant-carousel {
    .slick-dots-bottom {
      bottom: 20px;
    }
    .slick-dots li {
      button {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        &:hover {
          background-color: #c22121;
        }
      }
      &.slick-active {
        width: 16px;
        button {
          background-color: #c20c0c;
        }
      }
    }
  }
}

.ant-message {
  .lyric,
  .lyric-info {
    .ant-message-notice-content {
      position: fixed;
      bottom: 50px;
      top: auto;
      left: 50%;
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 20px;
      color: #fff;
      transform: translateX(-50%);
    }
  }
  .lyric-empty {
    .ant-message-notice-content {
      .anticon {
        margin-right: 0;
      }
    }
  }
}
